html {
    scroll-behavior: smooth;
    color: #ffffff;
}

*{
    background: #232323;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background: #232323;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.header>.logo>img{
    height: 100px;
}

.header>.menu{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.header>.menu>a{
    text-decoration: none;
    color: #ffffff;
}
.header>.menu>a:hover{
    color: #47bc82;
}

.btnmenu{
    width: 40px;
    height: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #47bc82;
    /* padding-top: 20px; */
    /* display: none; */
}

.btnmenu>img{
    width: 40px;
}

/* ------------ container ------------- */

.container>.content{
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}
.container>.content .im{
    color: #494949;
    font-size: 70px;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.container>.content .titre1 ,.container>.content .titre2{
    color: #ffffff;
    background: #232323;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    margin: 0;
    padding: 0;
    display: flex;
}
.container>.content .titre2::after{
    content: '.';
    color: #47bc82;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.container>#home{
    height: max-content;
    display: grid;
    grid-template-rows:1fr 4fr 1fr;
}
.container>.content>.center>.btn{
    border: #47bc82 solid;
    padding: 5px 15px  5px 15px;
    width: max-content;
    color: #ffffff;
    background: #47bc82;
    text-decoration: none;
    z-index: 1;
    display: flex;
}

/*--------------- About me ------------- */

.content[id=aboutme],.content[id=aboutme]>.content_part,.content[id=aboutme]>.content_part>.img,.content[id=aboutme]>.content_part>.text,.content[id=aboutme]>.content_part>.text>p,.content[id=aboutme]>.content_part>.text>.contact,.element>p{
    background: #1f1f1f;
}


.content_part{
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: space-evenly;
    width: 100%;
}


.text{
    padding-left: 5%;
    width: 100%;
}
.text .name_text{
    font-size: 20px;
}

.text>p{
    display: flex;
    width: 100%;
}

.text label{
    background: none;
}

.text > .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
}

.element{
    display: grid;
    grid-template-rows: 20px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    align-items: center;
    background: none;
}

.center_mail{
    justify-content: center;
    text-align: center;
}

.education {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
}
.education > p{
    margin: 0;
    padding: 0;
}
.img{
    height: 500px;
}
img[class=profil]{
    height: 450px;
    z-index: 1;
    translate:-40px -490px;
    box-shadow: 10px 10px 10px  #000000;
}
img[class=profil]:hover{
    height: 450px;
    z-index: 1;
    translate:30px -490px;
    transition: 500ms ease-in-out;
    box-shadow: -10px 10px 10px  #000000;
}

.fond{
    content: ".";
    width: 330px;
    height: 450px;
    border: #47bc82 solid 6px;
    border-radius: 5px;
    z-index: -1;
    background: none;
}

.socialmedia{
    display: grid;
    background: none;
    grid-template-columns: repeat(5, 1fr);

    margin-top: 20px;
    margin-left: 10%;
    /*
    margin-right: auto;
    */
    margin-bottom: 50px;
    align-items: center;
    width: 250px;

}

.socialmedia>.icon{
    width: 30px;
    height: 30px;
    text-align: center;
    border: #ffffff solid 2px;
    color: #47bc82;
    font-size: larger;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia>.icon>img{
    width: 25px;
}

.socialmedia>.icon:hover{
    border: #47bc82 solid 2px;
}

/* ------------------ Skills ------------- */
.skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0 10%;
}

.skills{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background: none;
    height: 80px;
}

.skills>.skills-progress{
    width: 100%;
    background: #494949;
    height: 6px;
    border-radius: 6px;
    overflow: visible;
}

.skill-bar{
    background: #47bc82;
    border-radius: 6px;
    height: 6px;
    translate: 0 -21px;
}

.skills-title{
    background: none;
}

.skill-per{
    background: none;
    text-align: end;
    translate: 0 -20px;
}

.textcontainer>p {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

/* ----------------- portfolio ---------------- */
.content[id=portfolio],.content[id=portfolio]>.port_menu,.content[id=portfolio]>.port_menu>p,.imggalerie{
    background: #1f1f1f;
}

.content[id=portfolio]{
    display: grid;
    justify-content: center;
    padding-bottom: 40px;
}

.content[id=portfolio]>.port_menu{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.content[id=portfolio]>.port_menu>p{
    font-size: 20px;
    cursor: pointer;
}

.imggalerie{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 800px;
    flex-wrap: wrap;
}

.imggalerie>.imgcontainer{
    width: 220px;
    height: 220px;
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imggalerie>.imgcontainer>img{
    width: 200px;
    height: 200px;
    box-shadow: #1f1f1f 5px 5px 5px;
}

/* ----------------- services ---------------- */
.content[id=services]{
    padding-bottom: 40px;
}

.service_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
}
.service_content>.servicecard{
    width: 30%;
    height: max-content;
    padding: 10px;
    border: #1f1f1f solid;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.service_content>.servicecard>.icon{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.service_content>.servicecard>.servicetitre{
    font-size: 20px;
    font-weight: 600;
}
.service_content>.servicecard>.detail{
    font-size: 15px;
    font-weight: 300;
}

/* ----------------- Contact ---------------- */
.content[id=contact]{
    background: #47bc82;
    height: max-content;
    display: grid;
    justify-content: center;
    padding-top: 0px;
}
.content[id=contact]>.titre-content>.titre{
    background: none;
    color: #ffffff;
    translate: 0 0;
}
.content[id=contact]>.titre-content{
    padding-top: 0;
    margin-top: 0;
}

.contact_content,.contact_content>.card,.contact_content>.card>p,.contact_content>.card>img{
    background: none;
}

.contact_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40%;
    flex-wrap: wrap;
    height: max-content;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
}
.contact_content>.card{
    height: 100px;
    width: max-content;
    align-items: center;
    justify-content: center;
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact_content>.card>.titre_card{
    font-size: 20px;
    font-weight: 600;
}
.contact_content>.card>p{
    margin: 0;
    padding: 0;
}

.contact_content>.card>img{
    height: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.contact_content>.card>img[alt=mail]{
    height: 20px;
}

.content[id=contact]>button{
    padding: 20px 40px 20px 40px;
    background: #ffffff;
    color: #47bc82;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact_titre{
    font-weight: 600;
}
/* ----------------- general ---------------- */
.titre-content{
    background: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.titre{
    font-size: 400%;
    background: none;
    translate:0px -115px;
    height: 100px;
    margin: 0;
    color: #47bc82;
}

.shadow {
    font-size: 800%;
    background: none;
    color: #292929;
    margin: 0;
}

.color{
    color: #47bc82;
}


/* ------------------------------ */

  
